<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li class="active">{{#translate}}Lists{{/translate}}</li>
</ol>

<div class="pull-right">
    <a class="btn btn-primary" href="/lists/create" role="button"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Create List{{/translate}}</a>
</div>

<h2>{{#translate}}Lists{{/translate}}</h2>

<hr>

<div class="table-responsive">
    <table data-topic-url="/lists" data-sort-column="1" data-sort-order="asc" class="table table-bordered table-hover data-table-ajax display nowrap" width="100%" data-row-sort="0,1,1,1,0,0">
        <thead>
        <th style="width: 1%">
            #
        </th>
        <th>
            {{#translate}}Name{{/translate}}
        </th>
        <th>
            {{#translate}}ID{{/translate}}
        </th>
        <th>
            {{#translate}}Subscribers{{/translate}}
        </th>
        <th>
            {{#translate}}Description{{/translate}}
        </th>
        <th style="width: 1%">
            &nbsp;
        </th>
        </thead>
    </table>
</div>
