<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>

    <h3>Change your password</h3>

    <p>We have received a password change request for your Mailtrain account: <strong>{{username}}</strong>.</p>

    <p><a href="{{confirmUrl}}" role="button">Reset password</a></p>

    <p>If you did not ask to change your password, then you can ignore this email and your password will not be changed.</p>

</body>
</html>
