<div class="form-group">
    <label for="template-html" class="col-sm-2 control-label">{{#translate}}Template content (HTML){{/translate}}</label>
    <div class="col-sm-10">
        <div class="code-editor" id="template-html">{{html}}</div>
        <input type="hidden" name="html">
    </div>
</div>
