<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GrapesJS Newsletter Editor</title>

        <link rel="stylesheet" href="/grapejs/dist/css/grapes.min.css?v=0.14.25">
        <link rel="stylesheet" href="/grapejs/dist/css/toastr.min.css?v=2.1.3">
        <link rel="stylesheet" href="/grapejs/dist/css/material.css">
        <link rel="stylesheet" href="/grapejs/dist/css/tooltip.css">

        <script src="/javascript/jquery-2.2.1.min.js"></script>
        <script src="/grapejs/dist/js/grapes.min.js?v=0.14.25"></script>
        <script src="/grapejs/dist/js/toastr.min.js?v=2.1.3"></script>
        <script src="/grapejs/dist/js/ajaxable.min.js?v=0.2.3"></script>

        {{#switch editor.mode}}
            {{#case "mjml"}}
                <link rel="stylesheet" href="/grapejs/dist/css/grapesjs-mjml.css?v=0.0.7">
                <script src="/grapejs/dist/js/grapesjs-mjml.min.js?v=0.0.27"></script>
                <script src="/grapejs/dist/js/grapesjs-preset-mjml.js"></script>
            {{/case}}
            {{#case "html"}}
                <link rel="stylesheet" href="/grapejs/dist/css/grapesjs-preset-newsletter.css?v=0.2.3">
                <script src="/grapejs/dist/js/grapesjs-preset-newsletter.min.js?v=0.2.3"></script>
            {{/case}}
        {{/switch}}
    </head>
    <body>

        {{{body}}}

    </body>
</html>
