node_modules
.vscode
.DS_Store
.git
.gitignore
*.swp
config/development*
config/production*
config/test*
workers/reports/config/development.*
workers/reports/config/production.*
workers/reports/config/test.*
docker-compose.*.yml
