<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            {{#translate}}Please Confirm Subscription{{/translate}}
        </mj-text>
        <mj-button mj-class="button" href="{{confirmUrl}}">
            {{#translate}}Yes, subscribe me to this list{{/translate}}
        </mj-button>
        <mj-text mj-class="p">
            {{#translate}}If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            {{#translate}}For questions about this list, please contact:{{/translate}}
            <br/><a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </mj-text>
    </mj-column>
</mj-section>
