<h2>{{#translate}}Subscription Confirmed{{/translate}}</h2>

<p>
    {{#translate}}Your subscription to our list has been confirmed.{{/translate}}
</p>

<p>
    {{#translate}}Thank you for subscribing!{{/translate}}
</p>

<p>
    <a class="btn btn-primary" href="{{homepage}}" role="button">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        {{#translate}}continue to our website{{/translate}}
    </a>
    {{#translate}}or{{/translate}}
    <a class="btn btn-primary" href="{{preferences}}" role="button">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        {{#translate}}manage your preferences{{/translate}}
    </a>
</p>
