<h2>Subscription Confirmed</h2>

<p>Your subscription to our list has been confirmed.</p>

<p>Thank you for subscribing!</p>

<p>
    <a class="btn btn-primary" href="{{homepage}}" role="button">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> return to our website
    </a>
</p>
