<h2>{{#translate}}Unsubscribe Successful{{/translate}}</h2>

<p>{{#translate}}You have been removed from:{{/translate}} {{title}}.</p>

<p>
    <a class="btn btn-primary" href="{{homepage}}" role="button">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{#translate}}return to our website{{/translate}}
    </a>
</p>
