<h2>Unsubscribe Successful</h2>

<p>You have been removed from {{title}}.</p>

<p>
    <a class="btn btn-primary" href="{{homepage}}" role="button">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> return to our website
    </a>
</p>
