<h3>Profile Updated</h3>

<p>Your profile information has been updated.</p>

<p>
    <a class="btn btn-primary" href="{{homepage}}" role="button">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> return to our website
    </a>
</p>
