<h3>{{#translate}}Profile Updated{{/translate}}</h3>

<p>
    {{#translate}}Your profile information has been updated.{{/translate}}
</p>

<p>
    <a class="btn btn-primary" href="{{homepage}}" role="button">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        {{#translate}}return to our website{{/translate}}
    </a>
</p>
