<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{publicPath}}static/favicon.ico">

    <title>Mailtrain</title>
</head>

<body>
{{{body}}}
{{> tracking_scripts}}
</body>

</html>
