<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/reports">{{#translate}}Reports{{/translate}}</a></li>
    <li><a href="/report-templates">{{#translate}}Templates{{/translate}}</a></li>
    <li class="active">{{#translate}}Create Template{{/translate}}</li>
</ol>

<h2>{{#translate}}Create Report Template{{/translate}}</h2>

<hr>

<form class="form-horizontal" method="post" action="/report-templates/create">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

{{> report_template_fields }}

    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Create Template{{/translate}}</button>
        </div>
    </div>
</form>
