<div class="row">
    <div class="col-md-12">

        <blockquote>
            Subscribe to <strong>Mailtrain Newsletter</strong> <a href="http://mailtrain.org/subscription/EysIv8sAx">here</a> (uses Mailtrain obviously)
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>List management</h2>
        <p>Mailtrain allows you to easily manage even very large lists. Million subscribers? Not a problem. You can add subscribers manually or import from a CSV file. All lists come with support for custom fields and merge tags as well.</p>
    </div>
    <div class="col-md-4">
        <h2>Custom fields</h2>
        <p>Text fields, numbers, drop downs or checkboxes, Mailtrain has them all. Every custom field can be included in the generated newsletters through merge tags.</p>
    </div>
    <div class="col-md-4">
        <h2>List segmentation</h2>
        <p>Send messages only to list subscribers that match predefined segmentation rules. No need to create separate lists with small differences.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Open source</h2>
        <p>Mailtrain is available under <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> license and completely open source.</p>
    </div>
    <div class="col-md-4">
        <h2>Send via any provider</h2>
        <p>Amazon SES, SparkPost, SendGrid, Mailgun – you name it. You can use any provider that supports SMTP protocol to send out your newsletters.</p>
    </div>
    <div class="col-md-4">
        <h2>On the roadmap</h2>
        <p>Automatic bounce and complaint handling for other providers besides AWS SES, reports, API access and more…</p>
    </div>
</div>
