<div class="row">
    <div class="col-md-4">
        <h3>Official Mailtrain Partners</h3>
        <div class="media">
            <div class="media-left">
                <a href="http://www.iredmail.org/">
                    <img class="media-object" src="/images/iredmail-logo-red-114.png" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="http://www.iredmail.org/">iRedMail</a></h4> Free, open source mail server solution
            </div>
        </div>
    </div>
    <div class="col-md-8">
            <h3>Donate to author</h3>
            <p>If you really like Mailtrain then you can donate to the Mailtrain project to support the further development of it. You can donate directly with Paypal or if you prefer Bitcoin, then my wallet address is <code>15Z8ADxhssKUiwP3jbbqJwA21744KMCfTM</code>.</p>

            <p>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=DB26KWR2BQX5W" class="btn btn-info">Donate using PayPal</a>
            </p>

    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>List management</h2>
        <p>Mailtrain allows you to easily manage even very large lists. Million subscribers? Not a problem. You can add subscribers manually, through the API or import from a CSV file. All lists come with support for custom fields and merge tags as well.</p>
    </div>
    <div class="col-md-4">
        <h2>Custom fields</h2>
        <p>Text fields, numbers, drop downs or checkboxes, Mailtrain has them all. Every custom field can be included in the generated newsletters through merge tags.</p>
    </div>

    <div class="col-md-4">
        <h2>List segmentation</h2>
        <p>Send messages only to list subscribers that match predefined segmentation rules. No need to create separate lists with small differences.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RSS Campaigns</h2>
        <p>Setup Mailtrain to <a href="https://github.com/andris9/mailtrain/wiki/RSS-Campaigns">track RSS feeds</a> and if a new entry is detected in a feed then Mailtrain auto-generates a new campaign using entry data as message contents and sends it to selected subscribers.</p>
    </div>
    <div class="col-md-4">
        <h2>GPG Encryption</h2>
        <p>If a list has a custom field for a GPG Public Key set then subscribers can upload their GPG public key to receive <a href="https://github.com/andris9/mailtrain/wiki/Adding-GPG-encryption-option-to-a-list">encrypted messages</a> from the list.</p>
    </div>
    <div class="col-md-4">
        <h2>Click stats</h2>
        <p>After a campaign is sent, check individual <a href="https://github.com/andris9/mailtrain/wiki/Clicks-and-opens-stats">click statistics</a> for every link included in the message.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Open source</h2>
        <p>Mailtrain is available under <a href="https://spdx.org/licenses/MIT.html#licenseText">MIT</a> license and completely open source.</p>
    </div>
    <div class="col-md-4">
        <h2>Send via any provider</h2>
        <p>Amazon SES, SparkPost, SendGrid, Mailgun – you name it. You can use any provider that supports SMTP protocol to send out your newsletters. Bounce and complaints handling via webhooks is supported for SES, SparkPost, SendGrid and Mailgun.</p>
    </div>
    <div class="col-md-4">
        <h2>Trigger based automation</h2>
        <p>Define <a href="https://github.com/andris9/mailtrain/wiki/Automation-in-Mailtrain">automation triggers</a> to send specific messages when a user activates the trigger.</p>
    </div>
</div>

<p></p>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/images/img01.png">
                </div>
                <div class="item">
                    <img src="/images/img02.png">
                </div>
                <div class="item">
                    <img src="/images/img03.png">
                </div>
                <div class="item">
                    <img src="/images/img04.png">
                </div>
                <div class="item">
                    <img src="/images/img05.png">
                </div>
                <div class="item">
                    <img src="/images/img06.png">
                </div>
                <div class="item">
                    <img src="/images/img07.png">
                </div>
                <div class="item">
                    <img src="/images/img08.png">
                </div>
                <div class="item">
                    <img src="/images/img09.png">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>

<p></p>
