<div class="form-group" id="html-preview" {{#unless html}}style="display: none;"{{/unless}}>
    <div class="col-sm-offset-2 col-sm-10">
        <a role="button" data-toggle="collapse" href="#html-preview-toggle" aria-expanded="false" aria-controls="html-preview-toggle">{{#translate}}Toggle HTML preview{{/translate}}</a>
        <div class="collapse" id="html-preview-toggle">
            <h6 class="small text-muted">320x480px</h6>
            <iframe
                id="html-preview-frame"
                srcdoc="{{#if preparedHtml}}{{preparedHtml}}{{else}}{{html}}{{/if}}"
                width="320" height="480"
                style="border: 1px solid #ccc;">
            </iframe>
        </div>
    </div>
</div>
