<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Campaigns</li>
</ol>

<div class="pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create Campaign <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/campaigns/create"><i class="glyphicon glyphicon-plus"></i> Normal Campaign</a></li>
            <li><a href="/campaigns/create?type=rss"><i class="glyphicon glyphicon-signal"></i> RSS Campaign</a></li>
            <li><a href="/campaigns/create?type=triggered"><i class="glyphicon glyphicon-console"></i> Triggered Campaign</a></li>
        </ul>
    </div>
</div>

<h2>Campaigns</h2>

<hr>

<div class="table-responsive">
    <table data-topic-url="/campaigns" data-sort-column="4" data-sort-order="desc" class="table table-bordered table-hover data-table-ajax display nowrap" width="100%" data-row-sort="0,1,0,1,1,0">
        <thead>
            <th class="col-md-1">
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>
                Created
            </th>
            <th class="col-md-1">
                &nbsp;
            </th>
        </thead>
    </table>
</div>
