<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Campaigns</li>
</ol>

<div class="pull-right">
    <a class="btn btn-primary" href="/campaigns/create" role="button"><i class="glyphicon glyphicon-plus"></i> Create Campaign</a>
</div>

<h2>Campaigns</h2>

<hr>

<div class="table-responsive">
    <table data-topic-url="/campaigns" data-sort-column="4" data-sort-order="desc" class="table table-bordered table-hover data-table-ajax display nowrap" width="100%" data-row-sort="0,1,0,1,1,0">
        <thead>
            <th class="col-md-1">
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>
                Created
            </th>
            <th class="col-md-1">
                &nbsp;
            </th>
        </thead>
    </table>
</div>
