<div class="form-group">
    <label for="template-text" class="col-sm-2 control-label">{{#translate}}Template content (plaintext){{/translate}}</label>
    <div class="col-sm-10">
        <textarea class="form-control" id="template-text" name="text" rows="10">{{text}}</textarea>
    </div>
</div>
