<div class="form-group">
    <label for="template-html" class="col-sm-2 control-label">{{#translate}}Template content (HTML){{/translate}}</label>
    <div class="col-sm-10">
        <textarea class="form-control summernote" id="template-html" name="html" rows="8">{{html}}</textarea>
    </div>
</div>
