<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/users/login">{{#translate}}Sign in{{/translate}}</a></li>
    <li class="active">{{#translate}}Password Reset{{/translate}}</li>
</ol>

<h2>{{#translate}}Reset your password?{{/translate}}</h2>

<hr>

{{#if ldap.enabled}}
    <p>
        {{#translate}}Accounts are managed through LDAP.{{/translate}}
        <br/>
        <br/>
        <a href="{{ldap.passwordresetlink}}">{{#translate}}Reset Password{{/translate}}</a>
    </p>
{{else}}
    <p>{{#translate}}Please provide the username or email address that you used when you signed up for your Mailtrain account.{{/translate}}</p>
    <p>{{#translate}}We will send you an email that will allow you to reset your password.{{/translate}}</p>

    <form class="form-horizontal" role="login" method="post" action="/users/forgot">

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="form-group">
            <label for="usernameMain" class="col-sm-2 control-label">{{#translate}}Username{{/translate}}</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="username" id="usernameMain" placeholder="{{#translate}}Username or email address{{/translate}}" autofocus required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-xs-4">
                <button type="submit" class="btn btn-primary">{{#translate}}Send verification email{{/translate}}</button>
            </div>
        </div>
    </form>
{{/if}}
