<h1>{{title}}</h1>

<h2>Please Confirm Subscription</h2>

<hr>

<p>
    <a href="{{confirmUrl}}" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">Yes, subscribe me to this list</a>
</p>
<p>

    If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.
</p>
<p>

    For questions about this list, please contact:
    <br/>{{contactAddress}}
</p>
