<!doctype html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>

    <div>
        [RSS_ENTRY]
    </div>

    <p>
        <a href="[LINK_PREFERENCES]" style="color: #666666; text-decoration: none;">Preferences</a>
        <span style="color: #444444;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="[LINK_UNSUBSCRIBE]" style="color: #666666; text-decoration: none;">Unsubscribe</a>
        <span style="color: #444444;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="[LINK_BROWSER]" style="color: #666666; text-decoration: none;">View this email in your browser</a>
    </p>

</body>

</html>
