<!doctype html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>

    <p>Hey [FIRST_NAME/Customer],</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est.</p>

    <p>Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est. Aenean at mollis ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus
        libero lacus a est.</p>

    <p>Cheers,
        <br/> {{defaultSender}}
    </p>
    <p>
        {{defaultPostaddress}}
        <br/>
        <a href="[LINK_PREFERENCES]" style="color: #666666; text-decoration: none;">Preferences</a>
        <span style="color: #444444;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="[LINK_UNSUBSCRIBE]" style="color: #666666; text-decoration: none;">Unsubscribe</a>
        <span style="color: #444444;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="[LINK_BROWSER]" style="color: #666666; text-decoration: none;">View this email in your browser</a>
    </p>

</body>

</html>
