<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li class="active">{{#translate}}Campaigns{{/translate}}</li>
</ol>

<div class="pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#translate}}Create Campaign{{/translate}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/campaigns/create"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Regular Campaign{{/translate}}</a></li>
            <li><a href="/campaigns/create?type=rss"><i class="glyphicon glyphicon-signal"></i> {{#translate}}RSS Campaign{{/translate}}</a></li>
            <li><a href="/campaigns/create?type=triggered"><i class="glyphicon glyphicon-console"></i> {{#translate}}Triggered Campaign{{/translate}}</a></li>
        </ul>
    </div>
</div>

<h2>{{#translate}}Campaigns{{/translate}}</h2>

<hr>

<div class="table-responsive">
    <table data-topic-url="/campaigns" data-sort-column="4" data-sort-order="desc" class="table table-bordered table-hover data-table-ajax display nowrap" width="100%" data-row-sort="0,1,0,1,1,0">
        <thead>
            <th style="width: 1%">
                #
            </th>
            <th>
                {{#translate}}Name{{/translate}}
            </th>
            <th>
                {{#translate}}Description{{/translate}}
            </th>
            <th>
                {{#translate}}Status{{/translate}}
            </th>
            <th>
                {{#translate}}Created{{/translate}}
            </th>
            <th style="width: 1%">
                &nbsp;
            </th>
        </thead>
    </table>
</div>
