<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li class="active">{{#translate}}Sign in{{/translate}}</li>
</ol>

<h2>{{#translate}}Sign in{{/translate}}</h2>

<hr>

<form class="form-horizontal" role="login" method="post" action="/users/login">
    <input type="hidden" name="next" value="{{next}}" />
    <div class="form-group">
        <label for="usernameMain" class="col-sm-2 control-label">{{#translate}}Username{{/translate}}</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" name="username" id="usernameMain" placeholder="{{#translate}}Username{{/translate}}" autofocus required>
        </div>
    </div>
    <div class="form-group">
        <label for="passwordMain" class="col-sm-2 control-label">{{#translate}}Password{{/translate}}</label>
        <div class="col-xs-4">
            <input type="password" class="form-control" name="password" id="passwordMain" placeholder="{{#translate}}Password{{/translate}}" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-xs-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember"> {{#translate}}Remember me{{/translate}}
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-xs-4">
            <button type="submit" class="btn btn-primary">{{#translate}}Sign in{{/translate}}</button> {{#translate}}or{{/translate}}
            {{#if ldap.enabled}}
                <a href="{{ldap.passwordresetlink}}">{{#translate}}Forgot password?{{/translate}}</a>
            {{else}}
                <a href="/users/forgot">{{#translate}}Forgot password?{{/translate}}</a>
            {{/if}}
        </div>
    </div>
</form>
