<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li>{{#translate}}Namespaces{{/translate}}</li>
    <li class="active">{{#translate}}Edit Namespace{{/translate}}</li>
</ol>

<div class="pull-right">
    <a class="btn btn-primary" href="/reports/create" role="button"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Create Namespace{{/translate}}</a>
</div>

<h2>{{#translate}}Namespaces{{/translate}}</h2>

<hr>

<form method="post" class="delete-form" id="namespaces-delete" action="/namespaces/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{id}}" />
</form>

<form class="form-horizontal" method="post" action="/namespaces/edit">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{id}}" />

    <div>

        

        <hr/>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                    <button type="submit" form="namespaces-delete" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> {{#translate}}Delete Namespace{{/translate}}</button>
                </div>
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> {{#translate}}Update{{/translate}}</button>
            </div>
        </div>
    </div>
</form>
