<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=1024, initial-scale=1">

        <script src="dist/vendor/jquery.min.js"></script>
        <script src="dist/vendor/knockout.js"></script>
        <script src="dist/vendor/jquery-ui.min.js"></script>
        <script src="dist/vendor/jquery.ui.touch-punch.min.js"></script>
        <script src="dist/vendor/load-image.all.min.js"></script>
        <script src="dist/vendor/canvas-to-blob.min.js"></script>
        <script src="dist/vendor/jquery.iframe-transport.js"></script>
        <script src="dist/vendor/jquery.fileupload.js"></script>
        <script src="dist/vendor/jquery.fileupload-process.js"></script>
        <script src="dist/vendor/jquery.fileupload-image.js"></script>
        <script src="dist/vendor/jquery.fileupload-validate.js"></script>
        <script src="dist/vendor/knockout-jqueryui.min.js"></script>
        <script src="dist/vendor/tinymce.min.js"></script>

        <script src="dist/mosaico.min.js?v=0.16"></script>

        <script> window.mosaicoPlugins = []; </script>
        <script> window.mosaicoHTMLPostRenderers = []; </script>

        {{#if editorConfig.customscripts}}
            {{#each editorConfig.customscripts}}
                <script src="{{this}}"></script>
            {{/each}}
        {{/if}}

        <link rel="stylesheet" href="dist/mosaico-material.min.css?v=0.10" />
        <link rel="stylesheet" href="dist/vendor/notoregular/stylesheet.css" />
    </head>
    <body class="mo-standalone">

        {{{body}}}

    </body>
</html>
