<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=1024, initial-scale=1">

        <script src="dist/mosaico-libs-and-tinymce.min.js?v=0.17.4"></script>
        <script src="dist/mosaico.min.js?v=0.17.4"></script>
        <script> window.mosaicoPlugins = []; </script>
        <script> window.mosaicoHTMLPostRenderers = []; </script>

        {{#if editorConfig.customscripts}}
            {{#each editorConfig.customscripts}}
                <script src="{{this}}"></script>
            {{/each}}
        {{/if}}

        
        <link rel="stylesheet" href="dist/mosaico-libs.min.css?v=0.17.4" />
        <link rel="stylesheet" href="dist/mosaico-material.min.css?v=0.17.4" />
    </head>
    <body class="mo-standalone">
        {{{body}}}
    </body>
</html>
