<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GrapesJS Newsletter Editor</title>
        <link rel="stylesheet" href="/grapejs/dist/css/grapes.min.css">
        <link rel="stylesheet" href="/grapejs/dist/css/material.css">
        <link rel="stylesheet" href="/grapejs/dist/css/tooltip.css">
        <link rel="stylesheet" href="/grapejs/dist/css/toastr.min.css">
        <link rel="stylesheet" href="/grapejs/dist/css/grapesjs-preset-newsletter.css">

        <script src="/javascript/jquery-2.2.1.min.js"></script>
        <script src="/grapejs/dist/js/grapes.min.js"></script>
        <script src="/grapejs/dist/js/grapesjs-preset-newsletter.min.js"></script>
        <script src="/grapejs/dist/js/toastr.min.js"></script>
        <script src="/grapejs/dist/js/ajaxable.min.js"></script>
    </head>
    <body>

        {{{body}}}

    </body>
</html>
