textarea.dkimPrivateKey {
  height: 200px;
}

.overridableCheckbox {
  margin-top: -8px !important;
}

.extraThrottlingMailerSettings {
  .enableByDay {
    :global .form-group {
      margin-bottom: 0px;
    }
    margin-bottom: 1rem;
  }
}