<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>

    <h3>{{#translate}}Change your password{{/translate}}</h3>

    <p>{{#translate}}We have received a password change request for your Mailtrain account:{{/translate}} <strong>{{username}}</strong>.</p>

    <p><a href="{{confirmUrl}}" role="button">{{#translate}}Reset password{{/translate}}</a></p>

    <p>{{#translate}}If you did not ask to change your password, then you can ignore this email and your password will not be changed.{{/translate}}</p>

</body>
</html>
