<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            Please Confirm Subscription
        </mj-text>
        <mj-button mj-class="button" href="{{confirmUrl}}">
            Yes, subscribe me to this list
        </mj-button>
        <mj-text mj-class="p">
            If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.
        </mj-text>
        <mj-text mj-class="p">
            For questions about this list, please contact:
            <br/><a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </mj-text>
    </mj-column>
</mj-section>
