<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            {{#translate}}pleaseConfirmSubscriptionAddressChange{{/translate}}
        </mj-text>
        <mj-button mj-class="button" href="{{confirmUrl}}">
            {{#translate}}yesSubscribeMeToThisList{{/translate}}
        </mj-button>
        <mj-text mj-class="p">
            {{#translate}}ifYouReceivedThisEmailByMistakeSimply-1{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            {{#translate}}forQuestionsAboutThisListPleaseContact{{/translate}}
            <br/><a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </mj-text>
    </mj-column>
</mj-section>
