<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            You Are Now Unsubscribed
        </mj-text>
        <mj-text mj-class="p">
            We have removed your email address from our list. If you unsubscribed by mistake, you can re-subscribe at:
        </mj-text>
        <mj-button mj-class="button" href="{{subscribeUrl}}">
            Subscribe
        </mj-button>
        <mj-text mj-class="p">
            For questions about this list, please contact:
            <br/><a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </mj-text>
    </mj-column>
</mj-section>
