<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            {{#translate}}youAreNowUnsubscribed{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            ̣{{#translate}}weHaveRemovedYourEmailAddressFromOurList{{/translate}}
            {{#translate}}ifYouUnsubscribedByMistakeYouCan{{/translate}}:
        </mj-text>
        <mj-button mj-class="button" href="{{subscribeUrl}}">
            ̣{{#translate}}subscribe{{/translate}}
        </mj-button>
        <mj-text mj-class="p">
            {{#translate}}forQuestionsAboutThisListPleaseContact{{/translate}}
            <br/><a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </mj-text>
    </mj-column>
</mj-section>
