<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            {{#translate}}Online Unsubscription Is Not Possible{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            {{#translate}}Please contact us at{{/translate}} <a href="mailto:{{contactAddress}}">{{contactAddress}}</a> {{#translate}}to get removed from the list{{/translate}}.
        </mj-text>
        <mj-button mj-class="button" href="{{homepage}}">
            {{#translate}}Return to our website{{/translate}}
        </mj-button>
    </mj-column>
</mj-section>
