<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            Update Your Preferences
        </mj-text>
        <mj-text>
{{> subscription_manage_form}}<!-- don't indent me! -->
        </mj-text>
        <mj-text mj-class="p">
            <a href="/subscription/{{lcid}}/unsubscribe/{{cid}}">Unsubscribe</a>
        </mj-text>
    </mj-column>
</mj-section>
