<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/reports/">{{#translate}}Reports{{/translate}}</a></li>
    <li class="active">{{title}}</li>
</ol>

<i>{{error}}</i>
<pre>{{output}}</pre>
