<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/triggers/">{{#translate}}Automation Triggers{{/translate}}</a></li>
    <li class="active">{{#translate}}Create Trigger{{/translate}}</li>
</ol>

<h2>{{#translate}}Create Trigger{{/translate}} <small>{{#translate}}Select a list for the trigger{{/translate}}</small></h2>

<hr>

<form class="form-horizontal" method="post" action="/triggers/create-select">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <div class="form-group">
        <label for="group" class="col-sm-2 control-label">{{#translate}}List{{/translate}}</label>
        <div class="col-sm-10">
            <select class="form-control" name="list" required>
                <option value=""> –– {{#translate}}Select{{/translate}} ––</option>
                {{#each listItems}}
                    <option value="{{id}}">
                        {{name}} <span class="text-muted"> &mdash; {{subscribers}} {{#translate}}subscribers{{/translate}}</span>
                    </option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-triangle-right"></i> {{#translate}}Next{{/translate}}</button>
        </div>
    </div>
</form>
