{{{flashMessages}}}

{{#if needsJsWarning}}
    <div class="alert alert-danger js-warning" role="alert">
        <strong>{{#translate}}warning!{{/translate}}</strong>
        {{#translate}}javaScriptMustBeEnabledInOrderForThis{{/translate}}
    </div>
{{/if}}
