{{{flashMessages}}}

{{#if needsJsWarning}}
    <div class="alert alert-danger js-warning" role="alert">
        <strong>{{#translate}}Warning!{{/translate}}</strong>
        {{#translate}}JavaScript must be enabled in order for this form to work{{/translate}}
    </div>
{{/if}}
