{{{flashMessages}}}

{{#if isConfirmNotice}}
    <div class="alert alert-warning js-warning" role="alert">
        <strong>Warning!</strong> If JavaScript was not enabled then no confirmation message was sent
    </div>
{{/if}}

{{#if needsJsWarning}}
    <div class="alert alert-danger js-warning" role="alert">
        <strong>Warning!</strong>
        JavaScript must be enabled in order for this form to work
    </div>
{{/if}}
